{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-wrapper">
    <h1 class="form-heading">Add New Product</h1>
    <form method="post" enctype="multipart/form-data" class="product-form-centered">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-submit">Save Product</button>
            <a href="{% url 'brand_dashboard' %}" class="btn-cancel">Back to Dashboard</a>
        </div>
    </form>
</div>
{% endblock %}
